
/*
* {
    border: 2px solid rgb(240, 9, 9);
}
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Sigmar&display=swap');
:root{
--title-font: 'Sigmar', cursive ;
--site-font: 'Roboto Slab', serif, sans-serif, Lato, Helvetica;

}

body {
    text-align: center;
    margin: 0 auto;
    font-family: 'sigmar', cursive;
    font-size: 22px;
}

a:hover {
    background-color: steelblue;
    color: rgb(238, 7, 7);
}

a {
    color: red;
    padding: 25px;
}

nav, footer {
    background-color: steelblue;
    color: white; /* color always refers to the text*/
    padding: 25px;
}

nav, footer {
    text-align: center;
}

h1 {
    margin: 50px 0;
    font-family: 'Sigmar', cursive;
}



img {
    width: 40%;
    border: 4px solid steelblue;
    display: inline-block;
    padding: 10px;
    margin: 20px;
}

footer p {
    font-size: 20px;
    margin: 0 auto;
    padding: 25px;
}

